<%-include("layout/header")%>
<h1>Login</h1>
<form action="/account/login" method="post">
    <input type="text" class="email" name="email" placeholder="Email"><br>
    <input type="password" class="password" name="password" placeholder="password"><br>
    <button type="submit">Login</button>
</form>
<%-include("layout/footer")%>