<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shamim</title>
</head>
<body>
<div class="navbar">
  <a href="/">Home</a>
  
</div>
<h1>Login</h1>
<form action="/account/login" method="post">
    <input type="text" class="email" name="email" placeholder="Email"><br>
    <input type="password" class="password" name="password" placeholder="password"><br>
    <button type="submit">Login</button>
</form>
<a href="/account/register">registart</a>
