<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shamim</title>
</head>
<body>
<div class="navbar">
  <a href="/">Home</a>
  
</div>


<h1>Register</h1>
<form action="/account/register" method="post">
    <input type="text" class="name" name="name" placeholder="Name"><br>
    <input type="text" class="text" name="email" placeholder="Email"><br>
    <input type="password" class="password" name="password" placeholder="password"><br>
    <input type="password" class="aginPasword" name="agianPassword" placeholder="Retype password"><br>
    <button type="submit">Register</button>
</form>
<a href="/account/login">login</a>
</body>
